services:
  mongo:
    image: mongo:4.4
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network

  auth-service:
    build: ./auth-service
    container_name: auth-service
    restart: always
    ports:
      - "4000:4000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/authdb
      - PORT=4000
      - JWT_SECRET=supersecret
    depends_on:
      - mongo
    networks:
      - app-network

  catalogue-service:
    build: ./catalogue-service
    container_name: catalogue-service
    restart: always
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/cataloguedb
      - PORT=5000
    depends_on:
      - mongo
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:3000"
    depends_on:
      - auth-service
      - catalogue-service
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo_data:

